/*-----------------------------------------------------------------------------------*/
/* FONTS 
/*-----------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

/*-----------------------------------------------------------------------------------*/
/* VARIABLES
/*-----------------------------------------------------------------------------------*/
:root {
  --primary: #ffffff;
  --secondary: #dadada;
  --default: #18a7b9;
}

/*-----------------------------------------------------------------------------------*/
/* RESET CSS 
/*-----------------------------------------------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
.menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
input[type="button"],
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 400;
}

body {
  position: relative;
  font-weight: 400;
  width: 100%;
  min-height: 100%;
  color: #313131;
  background: #fff;
  font-size: 16px;
  direction: ltr;
  overflow-x: hidden;
}

:lang(en) body {
  direction: ltr;
}

html {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.icon {
  display: none;
}

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  color: #313131;
  transition: all 0.3s ease;
  font-family: inherit;
}

select,
button,
input {
  outline: none;
}

p {
  line-height: 1.6;
  font-size: 16px;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 32px;
}

h4 {
  font-size: 26px;
  font-weight: 500;
}

b {
  font-weight: 500;
}

/******************************************************************
                     | NAVBAR STYLE | 
*******************************************************************/

.container {
  width: 100%;
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

section {
  position: relative;
}

nav {
  position: absolute;
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 118px;
  z-index: +1;
}

nav .logo h4 {
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.5px;
  color: #18a7b9;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 35px;
  list-style: none;
}
nav ul li a:hover {
  color: #18a7b9;
  border-bottom: 2px solid #18a7b9;
}

/******************************************************************
                     | heroheading STYLE | 
*******************************************************************/
.heroheadding {
  display: flex;
  justify-content: space-between;
}

.heroheadding img {
  border-radius: 0 0 0 40%;
  width: 100%;
  position: relative;
  right: -100px;
  bottom: -40px;
  margin-bottom: 120px;
}
/* content: "";
position: absolute;
width: 50px;
height: 50px;
background-image: url(../images/svg/blueElipse.svg);
top: 0;
left: 1px;
z-index: -1;
background-repeat: no-repeat; */
.imageright {
  position: relative;
}
.imageright::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 120px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  background-image: url(../images/shapes/Rectangle\ 4302UpLeft.png);
}
.imageright::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 77%;
  left: 80%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/shapes/Rectangle\ 4303rectRightDown.png);
}

.heroheadding .left {
  align-items: center;
  align-content: center;
  margin-top: 180px;
  width: 40%;
}

.heroheadding .left h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -2.56px;
  margin-bottom: 40px;
}

.heroheadding .left span {
  color: #18a7b9;
}

.heroheadding .left p {
  color: #6b6b6b;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  margin-bottom: 40px;
}

.button {
  color: #fff;
  padding: 22px 78px;
  flex-shrink: 0;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.5px;
  border-radius: 40px 5px;
  margin-bottom: 112px;
  background: #18a7b9;
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px
      rgba(24, 167, 185, 0.02),
    0px 8.148148536682129px 6.518518447875977px 0px rgba(24, 167, 185, 0.04),
    0px 20px 13px 0px rgba(24, 167, 185, 0.05),
    0px 38.51852035522461px 25.481481552124023px 0px rgba(24, 167, 185, 0.06),
    0px 64.81481170654297px 46.85185241699219px 0px rgba(24, 167, 185, 0.08);
}

#white {
  background: #fff;
  border: 1px solid #18a7b9;
  color: #18a7b9;
}

.stats {
  display: flex;
  justify-content: space-around;
  gap: 52px;
}

.stat {
  position: relative;
  margin-bottom: 100px;
}

.stat h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
}

.stat p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

#blue::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../images/svg/blueElipse.svg);
  top: 0;
  left: 1px;
  z-index: -1;
  background-repeat: no-repeat;
}

#green::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../images/svg/greenElipse.svg);
  top: 0;
  left: 1px;
  z-index: -1;
  background-repeat: no-repeat;
}

#orange::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../images/svg/orageElipse.svg);
  top: 0;
  left: 1px;
  z-index: -1;
  background-repeat: no-repeat;
}

.buttons {
  display: flex;
  justify-content: start;
  gap: 15px;
}

/******************************************************************
                     | LOGOS STYLE | 
*******************************************************************/

.logos {
  border-radius: 150px;
  background: #fafafa;
  display: flex;
  gap: 100px;
  align-items: center;
  height: 150px;
  justify-content: center;
  margin-bottom: 140px;
  position: relative;
}

.logos a {
  box-sizing: content-box;
}

h2 {
  font-size: 54px;
  font-weight: 500;
  line-height: 120%;
  /* 64.8px */
  text-align: center;
}
.logos::after {
  content: "";
  position: absolute;
  width: 700px;
  height: 700px;
  background-image: url(../images/svg/logos.svg);
  left: -160px;
  top: -450px;
  z-index: -1;
  stroke-width: 0.5px;
  stroke: #18a7b9;
  background-repeat: no-repeat;
}

/******************************************************************
                     | chooseus STYLE | 
*******************************************************************/
.chooseUs {
  display: flex;
  gap: 70px;
  margin-bottom: 140px;
}

.chooseUs p {
  margin-bottom: 30px;
  color: #6b6b6b;
  font-size: 18px;

  line-height: 28px; /* 155.556% */
}

.chooseUs .left {
  width: 50%;
  margin-top: 30px;
}

.right {
  width: 50%;
}

.chooseUs h2 {
  margin-bottom: 240px;
}

.reason {
  display: flex;
  gap: 35px;
  margin-bottom: 150px;
}

.reason h1 {
  position: relative;
  font-size: 72px;
  font-weight: 600;
  line-height: 100%;
  /* 72px */
}

.reason p {
  color: #6b6b6b;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  margin-top: 20px;
}

#one::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/shapes/Rectangle\ 4304blue01.png);
  bottom: -25px;
  left: -25px;
  z-index: -1;
  background-repeat: no-repeat;
}
.owl-nav{
  display: block !important;
}
#two::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/shapes/Rectangle\ 4305orange02.png);
  bottom: -25px;
  left: -25px;
  z-index: -1;
  background-repeat: no-repeat;
}

#three::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/shapes/Rectangle\ 4306green03.png);
  bottom: -25px;
  left: -25px;
  z-index: -1;
  background-repeat: no-repeat;
}

/******************************************************************
                     | ourBest STYLE |
*******************************************************************/
.engineers h2 {
  color: #313131;
  font-size: 54px;
  font-weight: 500;
  line-height: 120%;
  /* 64.8px */
  margin-bottom: 30px;
}

.engineers p {
  color: #6b6b6b;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  /* 140% */
  margin: 0 10%;
  margin-bottom: 80px;
}

.card {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 20px 50px 0px rgba(198, 217, 225, 0.3);
}

.card .top {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.card img {
  background-size: cover;
  background-position: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.card h4 {
  display: block;
  color: #313131;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 auto;
  margin-bottom: 7px;
}

.card p {
  display: block;
  color: #6b6b6b;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  /* 12px */
  letter-spacing: 1px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.card .phone_number {
  display: block;
  color: #6b6b6b;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 8px;
}

.card .email {
  display: block;
  color: #18a7b9;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 60px;
}

.wraper {
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 22px;
}

.owl-nav {
  width: fit-content;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 100px;
}

.owl-nav span:hover {
  color: white;
  background-color: #18a7b9;
  border-radius: 50%;
}

/******************************************************************
                     | CeoMessage STYLE |
*******************************************************************/

.ceomessage {
  width: 100%;
  position: relative;
  min-height: 930px;
  padding: 175px 300px 300px 300px;
  box-sizing: border-box;
}

.ceomessage::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/main/Rectangle\ 4307.png);
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

.ceomessage h2 {
  color: #fafafa;
  margin-bottom: 50px;
}

.ceomessage p {
  text-align: justify;
  color: #fafafa;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}
.ceo {
  position: relative;
}
.ceo::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(../images/svg/ceom.svg);
  background-repeat: no-repeat;
  top: -60px;
  left: -90px;
}
.ceo::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(../images/svg/ceom.svg);
  background-repeat: no-repeat;
  right: -30px;
  bottom: -90px;
}

/******************************************************************
                     | Contact Us STYLE |
*******************************************************************/

.contactus {
  margin-top: 140px;
}

.contactus p {
  text-align: center;
  color: #6b6b6b;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  /* 140% */
  margin-bottom: 200px;
}

.sides {
  display: flex;
  justify-content: space-evenly;
}

.form {
  width: 33%;
}

.form input {
  padding: 24px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  border-radius: 7px;
  background: #f9f9f9;
  text-align: center;
}

.form textarea {
  padding: 24px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  border-radius: 7px;
  background: #f9f9f9;
}

.image {
  align-content: center;
  align-items: center;
  margin: auto 0;
  width: 52%;
}

.contactus img {
  width: 100%;
}

.user-input-wrp {
  position: relative;
}
.user-input-wrp .inputText {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #777;
  box-shadow: none !important;
}
.user-input-wrp .inputText:focus {
  border-color: blue;
  border-width: medium medium 2px;
}
.user-input-wrp .floating-label {
  position: absolute;
  pointer-events: none;
  top: 18px;
  left: 10px;
  transition: 0.2s ease all;
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label {
  top: 0px;
  left: 10px;
  font-size: 13px;
  opacity: 1;
}

/******************************************************************
                     | Lattest Blogs STYLE |
*******************************************************************/
.Blogs h2 {
  margin-bottom: 30px;
}

.Blogs h2 + p {
  margin-bottom: 80px;
  color: #6b6b6b;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  /* 140% */
}

.cards {
  display: flex;
  gap: 60px;
}

#bone p {
  margin-top: 370px;
  color: #fff;
  font-family: Source Sans Pro;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 36px;
}
.blogcard:hover {
  background-image: url(../images/blogs/blog1.png) !important;
}
.blogcard:hover .button {
  visibility: visible !important;
  display: block;
  margin: 0 auto;
}
.blogcard .button {
  margin-bottom: 50px !important;
  display: block;
  margin: 0 auto;
  visibility: hidden;
}
#bone {
  background-image: url(../images/blogs/blog0.png);
  background-size: cover;
  background-position: center;
  width: 45%;
  border-radius: 20px;
  margin-bottom: 140px;
}
#bone span {
  color: #fff;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  text-align: center;
  margin-bottom: 32px;
}

#btwo {
  background-image: url(../images/blogs/blog1.png);
  background-size: cover;
  background-position: center;
  width: 45%;
  border-radius: 20px;
  margin-bottom: 140px;
}
#btwo span {
  color: #fff;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
#btwo p {
  margin-top: 300px;
  color: #fff;
  font-family: Source Sans Pro;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 22px;
}
#btwo .button {
  cursor: pointer;
  margin-bottom: 50px;
  border-radius: 40px 5px;
  border: 1px solid #fff;
  background-color: transparent;
  width: 15%;
}

.cards .button {
  width: 30%;
  margin: 0 auto;
}

/******************************************************************
                     | Subscribe STYLE |
*******************************************************************/
.Subscribe {
  width: 100%;
}

.Subscribe h2 {
  margin-bottom: 40px;
}

.Subscribe p {
  color: #6b6b6b;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 140% */
  margin-bottom: 40px;
}

.butt {
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
}

/******************************************************************
                     | Footer STYLE |
*******************************************************************/
.logo h4 {
  color: #18a7b9;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.5px;
  margin-bottom: 30px;
}

.logo p {
  margin-bottom: 40px;
  color: #6b6b6b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 175% */
}

footer {
  display: flex;
  justify-content: space-between;
}

footer h4 {
  margin-bottom: 40px;
}

footer ul li {
  list-style: none;
  margin-bottom: 18px;
}

footer div {
  width: 25%;
}

footer input {
  padding: 24px;
  width: 80%;
  display: block;
  margin-bottom: 20px;
  border-radius: 7px;
  background: #f9f9f9;
}

/******************************************************************
                     | Copyrights STYLE |
*******************************************************************/

.copyright {
  margin-top: 75px;
}

.copyright p {
  padding: 40px;
  color: #c2c2c2;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  position: relative;
}

.copyright p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-size: cover;
}

/******************************************************************
                     | Media Queries |
*******************************************************************/

@media (max-width: 1000px) {
  nav {
    overflow: hidden;
    background-color: #fff;
    position: relative;
    margin: 5px;
  }
  .heroheadding .left {
    margin-top: 20px;
  }

  .icon {
    display: block;
    margin-right: 40px;
  }
  .nav-links {
    display: none;
  }
  .nav {
    justify-content: space-between;
  }

  .container {
    width: 100%;
  }

  .heroheadding {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .heroheadding .left {
    width: 90%;
  }
  .heroheadding .button {
    width: 60%;
  }
  .heroheadding .left h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }
  .heroheadding .left p {
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
  .buttons .button {
    margin-bottom: 10px;
  }
  #white {
    margin-bottom: 50px;
  }
  .heroheadding img {
    position: unset;
  }
  .logos {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 40px;
    background-color: unset;
    margin-bottom: 50px;
  }
  .chooseUs {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
  }
  .chooseUs h2 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .chooseUs .reason {
    width: 100%;
    margin-bottom: 0px;
  }
  .chooseUs .reasons p {
    font-size: 11px;
    margin-bottom: 5px;
  }
  .ceomessage {
    width: 100%;
    padding: 50px;
  }
  .ceomessage p {
    width: 100%;
    margin: 0;
  }
  .ceo::after {
    display: none;
  }
  .ceo::before {
    display: none;
  }
  .sides {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .contactus p {
    margin-bottom: 50px;
  }
  .contactus .sides .form {
    margin: 0 auto;
    width: 70%;
  }
  .contactus .sides .image {
    margin: 0 auto;
    width: 85%;
    margin-bottom: 20px;
  }
  .cards {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .blogcard {
    width: 80% !important;
    margin-bottom: 30px !important;
  }
  .blogcard .button {
    margin: 0 auto;
  }

  .contactus h2 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .Subscribe h2 {
    font-size: 35px;
    margin-bottom: 40px;
  }
  .Subscribe p {
    font-size: 15px;
    margin-bottom: 40px;
  }
  .butt {
    margin-bottom: 20px;
  }
  footer {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  footer div {
    width: 100%;
    margin-bottom: 50px;
  }
  .getintouch input {
    display: unset;
  }
  .chooseUs .left {
    width: 90%;
  }
  .copyright {
    margin-top: 20px;
  }
}

/* 400 maxwidth screen */
@media (max-width: 400px) {
  .reasons .reason {
    flex-wrap: wrap;
    justify-content: center;
  }
  .stats {
    flex-wrap: wrap;
    justify-content: center;
  }
}
